.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#padded_media {
  padding-right: 10%;
  padding-left: 10%;
}

#unpadded_button1 {
  padding-right: 5px;
  padding-left: 5px;
}

#unpadded_button2 {
  padding-right: 5px;
  padding-left: 5px;
}

#styled_button {
  color: gray;
  outline-color: gray;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.invisi_column {
  margin: -8.25%;
}

img {
  display: block;
  width: auto;
  height: auto;
}

#heigh_control {
  width: 10px;
}

#highlight {
  transition: color .4s ease-in-out;
}

#highlight2 {
  transition: color .4s ease-in-out;
}

#highlight3 {
  transition: color .2s ease-in-out;
}

p {
  margin-bottom: 0;
}

.navbar-toggler {
  margin-right: 0;
}

.footer-block {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-bottom: 10px;
}

.linkedIn-logo {
  width: 22px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2px;
  margin-bottom: -4px;
}

.linkedIn-logo:hover {
  cursor: pointer;
}

.gitHub-logo {
  width: 28px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -4px;
}

.gitHub-logo:hover {
  cursor: pointer;
}

.logo-divider {
  width: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -6%;
  margin-left: -2px;
  color: #bebebe;
}

.updated {
  float: right;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 0.5%;
}

.input {
  display: block;
  width: 100%;
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  height: 45px;
  outline: none;
  border: none;
}

#center {
  text-align: center;
}
