.aboutSection {
    color: white;
    padding-top: 6.3vh;
}

.heading {
    padding-left: 30px;
    padding-right: 30px;

}

.aboutInfo {
    margin-top: 40px;
    margin-bottom: 40px;
}

.description {
    width: 100%;
    /* max-width: 10%; */
}

.projectsHeader {
    margin-top: -1%; 
    margin-bottom: 0; 
    padding-left: 1rem;
    color: white;
}

.welcome {
    margin-bottom: -80px;
    margin-right: 5vw;
    font-size: 6vw;
}

.rounded {
    /* For animation: start at 30% in center and minimize to normal size in top right */
    min-width: 200px;
    width: 15vw;
    align-self: center;
    /* z-index : 10000; */
}

.list {
    display: inline-block;
}

.inline {
    display: inline;
}

ul {
    display: inline-block;
}